:root{--titulo-principal:#0e6950;
    --cor-do-texto:#8ad923;
    --cor-texto:#fafcde;
    --cor-do-botao:#cc7564;
}
body{background-color:var(--cor-de-fundo);
}
h1{color:var(--titulo-principal);
}
*{
    margin: 0;
    padding: 0px; 
}
.principal{
    background-image:url(download.jpeg);
    background-repeat: no-repeat;
    box-sizing: contain;
}
.container{
    height: 100vh;
}